@using Microsoft.AspNetCore.Components.Web
@namespace MmrzWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <base href="" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">
    <link rel="stylesheet" href="~/MyTheme/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/MyTheme/css/animate.css">
    <link rel="stylesheet" href="~/MyTheme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/MyTheme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/MyTheme/css/magnific-popup.css">
    <link rel="stylesheet" href="~/MyTheme/css/aos.css">
    <link rel="stylesheet" href="~/MyTheme/css/ionicons.min.css">
    <link rel="stylesheet" href="~/MyTheme/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/MyTheme/css/flaticon.css">
    <link rel="stylesheet" href="~/MyTheme/css/icomoon.css">
    <link rel="stylesheet" href="~/MyTheme/scss/newstyle.min.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/MyTheme/js/jquery.min.js"></script>
    <script src="~/MyTheme/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/MyTheme/js/popper.min.js"></script>
    <script src="~/MyTheme/js/bootstrap.min.js"></script>
    <script src="~/MyTheme/js/jquery.easing.1.3.js"></script>
    <script src="~/MyTheme/js/jquery.waypoints.min.js"></script>
    <script src="~/MyTheme/js/jquery.stellar.min.js"></script>
    <script src="~/MyTheme/js/owl.carousel.min.js"></script>
    <script src="~/MyTheme/js/jquery.magnific-popup.min.js"></script>
    <script src="~/MyTheme/js/aos.js"></script>
    <script src="~/MyTheme/js/jquery.animateNumber.min.js"></script>
    <script src="~/MyTheme/js/bootstrap-datepicker.js"></script>
    <script src="~/MyTheme/js/scrollax.min.js"></script>
    <script src="~/MyTheme/js/main.js"></script>
</body>
</html>
