@page "/services"

<div id="colorlib-page">
	<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
	<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
		<h1 id="colorlib-logo"><a href="MyTheme/images/author.jpg"><span class="img" style="background-image: url(MyTheme/images/author.jpg);"></span>MMRZ.JPG</a></h1>
		<nav id="colorlib-main-menu" role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/collection">Collection</a></li>
				<li class="colorlib-active"><a href="/services">My Services</a></li>
				<li><a href="/about">About Me</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div class="colorlib-footer">
			<h3>Newsletter</h3>
			<div class="d-flex justify-content-center">
				<form action="#" class="colorlib-subscribe-form">
					<div class="form-group d-flex">
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="text" class="form-control" placeholder="Enter Your Email Address">
					</div>
				</form>
			</div>
		</div>
	</aside>
	<div id="colorlib-main">
		<section class="ftco-section ftco-bread">
			<div class="container">
				<div class="row no-gutters slider-text justify-content-center align-items-center">
					<div class="col-md-8 ftco-animate">
						<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Services</span></p>
						<h1 class="bread">My Services</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services py-4 d-block">
							<div class="d-flex justify-content-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-big-lens"></span>
								</div>
							</div>
							<div class="media-body p-2 mt-2">
								<h3 class="heading mb-3">Pounds Of Equipment</h3>
								<p>A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services py-4 d-block">
							<div class="d-flex justify-content-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-printing-photo"></span>
								</div>
							</div>
							<div class="media-body p-2 mt-2">
								<h3 class="heading mb-3">Photo Print</h3>
								<p>A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services py-4 d-block">
							<div class="d-flex justify-content-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-focusing-target"></span>
								</div>
							</div>
							<div class="media-body p-2 mt-2">
								<h3 class="heading mb-3">Client Focus</h3>
								<p>A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services py-4 d-block">
							<div class="d-flex justify-content-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-camera"></span>
								</div>
							</div>
							<div class="media-body p-2 mt-2">
								<h3 class="heading mb-3">Studio Sessions</h3>
								<p>A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-sel Searchf-stretch ftco-animate">
						<div class="media block-6 services py-4 d-block">
							<div class="d-flex justify-content-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-polaroid-pictures"></span>
								</div>
							</div>
							<div class="media-body p-2 mt-2">
								<h3 class="heading mb-3">Polaroid Pictures</h3>
								<p>A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services py-4 d-block">
							<div class="d-flex justify-content-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="flaticon-film"></span>
								</div>
							</div>
							<div class="media-body p-2 mt-2">
								<h3 class="heading mb-3">Old Fill Roll</h3>
								<p>A small river named Duden flows by their place and supplies.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Footer />
	</div>
</div>


